#graph path { 
	stroke: #2b3447;
	stroke-width: 2;
	fill:transparent;
}

#graph .axis path,
#graph .axis line {
	fill: none;
	stroke: #444;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

#graph text{
	fill:#777;
}

#graph circle:hover{
	-webkit-filter:brightness(2);
	        filter:brightness(2);
}

#graph .axis { font-family:'Cabin Condensed'; }

.graph-tooltip{
	position: fixed;
	background: #333;
	border:1px solid rgba(255,255,255,0.25);
	color:#fff;
	font-size: 12px;
	width:  auto;
	height: auto;
	margin-top:20px;
	margin-left:-30px;
	pointer-events: none;
}

.graph-tooltip .header,
.graph-tooltip .value{
	padding:3px 5px;
}

.graph-tooltip .header{
	background:#222;
	border-bottom:1px solid rgba(255,255,255,0.25);
}

.graph-tooltip .sub-header{
	color:rgba(255,255,255,0.85);
	font-style:italic;
	margin-left:5px;
}

.graph-tooltip .value{
	font-size:12px;
}

.graph-tooltip .value table{
	width:100%;
	height:auto;
	border-collapse:collapse;
	color:#fff;
	font-size:10px;
}

.graph-tooltip .value table td{
	border:1px solid #777;
	padding:1px 3px;
}

.graph-tooltip .value table td.x{
	background:#333;
}

.graph-tooltip .value table td.y{
	background:#383838;
	width:60px;
	white-space:nowrap;
	text-align:right;
}

.graph-tooltip .value table tr:nth-child(2n) td.x{ background:#444;    }
.graph-tooltip .value table tr:nth-child(2n) td.y{ background:#494949; }